* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none ;
}

body {
  font-family: "Inter", sans-serif;
  padding: 5px 30px;
  margin-bottom: 50px;
}

header {

  background-color: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d5db;
  padding: 9px;
}

.painel {
    display: flex;
    align-items: center;
    gap:5px;
    margin-left: 8px;
}

.painel .img_loja{
    background: #7B2CFF; 
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.painel img{
    width: 80%;
}

.painel h1{
  font-size: 20px;
  color: #213047;
  font-weight: 600;
}


header nav {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

header nav a{
    background-color: #7B2CFF;
    display: flex;
    align-items: center;
    padding: 0px 5px  ;
    font-size: 10px;
    background: #0d6efd;
    border-radius: 10px;
    text-decoration: none;
    flex: 0 0 auto;
    min-width: 0;
}

.texto{
  color: white;
  padding: 0px 2px;
  font-weight: 500;
  width: auto;
  font-size:17px;
  display: inline-block;
}


.nav_img{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_img img{
    height: 22px;
    width: 22px;
    display: block;
}


nav a:hover{
  transition: 0.3s;
  transform: scale(1.1);
   background-color: #7B2CFF;
}

/*segundo bloco*/

.abas_vendedor{
  background-color: #f2f4f7;
  display: flex;
  border-bottom: 1px solid #d1d5db;
  gap: 20px;
  justify-content:left;
  padding: 5px 10px;
  flex-wrap: wrap;
}

.abas_vendedor .aba{
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 0px 5px;
  border-radius: 10px  ;
  height: 45px;
  gap:7px;
  flex: 0 0 auto;
  min-width: 0;
}

.aba img {
    height: 22px;
    width: 22px;
    display: block;
}

.aba h2{
  color: #213047;
  font-size: 15px;
  font-weight: 500;
}

.ativa {
    background: #7B2CFF; 
    color: white;
}

.aba.ativa h2 {
    color: white;
}

/* avisos de erro */

.aviso_geral{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  align-items: center;
  z-index: 2000;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.55);
}

.aviso_geral .aviso {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 0px 5px 4px 5px;
  box-shadow: 0 0 10px #9360ec;
  text-align: center;
  width: 400px;
  height: auto;
}


.aviso #info_aviso {
  background-color: aqua;
  margin-top: 8px;
  border-radius: 25px 0px;
  font-size: 20px;
  color: #213047;
  font-weight: 700;
  padding: 8px;
}


.aviso .div_info {
  background-color: blue;
  margin-top: 2px;
  border-radius: 0px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  height: 95px;
  padding: 10px;
  color: white;
}

.div_info .botao_aviso {
  margin-top: 3px;
  display: flex;
  justify-content: right;  
}

.botao_aviso #bt_aviso{
  background-color: #612bbe;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;  
  border: 2px solid rgb(255, 255, 255);
}

#bt_aviso:hover {
  background-color: #7B2CFF;
  border: 2px solid #7B2CFF;
  transition: 0.2s;
} 


@media(max-width: 450px){
  .painel{
    padding: 10px;
  }
  header{
    flex-direction: column;
    gap: 10px;
  }
  
  nav{
    flex-wrap: wrap;
   
  }
  .abas_vendedor{
    flex-direction: column;
    gap: 10px;
  }
  
}
