* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#myForm {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

#myForm textarea {
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 400px;
}

.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  margin-top: 16px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.feed h2 {

  border: 1px solid red;

  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}